/* Layout */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/**
 * Form
 */
button:disabled {
  color: lightgray
}

/**
 * Footer Styles
 */
.footer {
  position:fixed;
  top:calc( 100% - 54px );
  height:54px;
  width:100%;
  background-color: #efefef;
  text-align: center;
  padding: 16px;
}

.mt1 {
  margin-top: 24px;
}

/**
 * Budget buttons
 */

button.budget-button {
  /*background-color: white;*/
  margin-right: 5px;
}

button.budget-button:focus {
  outline:0;
}

button.budget-button.selected {
  background-color: #8bc34a;
  color: #fff;
}

/**
 * Expenses list
 */
.date {
  display: inline-block;
  width: 2.0rem;
  height: 2.0rem;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 0.65em;
  line-height: 1.0rem;
}

div.date-header {
  font-size: 0.7rem;
  background-color: #f2f2f2;
  color: #fff;
  background: #8bc34a;
}

div.date-day {
  font-size: 0.8rem;
}
