/* Layout */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/**
 * Form
 */
button:disabled {
  color: lightgray
}

/**
 * Footer Styles
 */
.footer {
  position:fixed;
  top:calc( 100% - 54px );
  height:54px;
  width:100%;
  background-color: #efefef;
  text-align: center;
  padding: 16px;
}

.mt1 {
  margin-top: 24px;
}

/**
 * Budget buttons
 */

 div.bb {
   border: 1px solid #d7d7d7;
   border-radius: 3px;
   width: 82px;
   height: 42px;
   padding: 0;
   margin-left: 5px;
   margin-top: 5px;
   float: left;
   cursor: pointer;

   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none;   /* Chrome/Safari/Opera */
   -khtml-user-select: none;    /* Konqueror */
   -moz-user-select: none;      /* Firefox */
   -ms-user-select: none;       /* Internet Explorer/Edge */
   user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
 }

 div.bb.selected {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border: 1px solid #8bc34a;
 }

 div.bb-title {
   padding: 2px;
   text-align: center;
   font-weight: bold;
 }

 div.bb-prog-container {
   height: 14px;
   width: 100%;
   position: relative;
 }

 div.bb-prog-text {
   font-size: 0.6em;
   position: absolute;
   top: -3px;
   z-index: 10;
   width: 100%;
   padding-left: 2px;
 }

 div.bb-prog-text.right {
   text-align: right;
 }

 div.bb-prog-text.ok {
   color: #358000;
 }

 div.bb-prog-text.shit {
   color: #802800;
 }

 div.bb-prog-shitline {
   height: 14px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 15;
   border-right: 1px solid black;
 }

 @mixin bb-prog-base {
   float: left;
   height: 100%;
   position: relative;
 }

 div.bb-prog-left {
   @include bb-prog-base;
 }

 div.bb-prog-right {
   @include bb-prog-base;
 }

 div.bb-prog-left.ok {
   background-color: #A3E654;
 }

 div.bb-prog-right.ok {
   background-color: #E3F7D2;
 }

 div.bb-prog-left.shit {
   background-color: #FE8160;
 }

 div.bb-prog-right.shit {
   background-color: #F7D8D2;
 }

/**
 * Expenses list
 */
button.week-header {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.date {
  display: inline-block;
  width: 2.0rem;
  height: 2.0rem;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 0.65em;
  line-height: 1.0rem;
}

div.date-header {
  font-size: 0.7rem;
  background-color: #f2f2f2;
  color: #fff;
  background: #8bc34a;
}

div.date-day {
  font-size: 0.8rem;
}

a.amount-link {
  color: black;
  text-decoration: none;
}

a.amount-link:hover {
  text-decoration: underline;
  cursor: grab;
}

a.amount-delete-link {
  color: red;
  font-weight: bold;
}

/**
 * Helpers
 */
.ml05 {
  margin-left: 2px;
}
